
#tema
{
    margin: 20px;
    text-align: center;
  color: cornflowerblue;
    letter-spacing: 50px;
    
}

#con{
    font-size: 20px ;
    padding: 10px ;
    margin-top: 0px;
    margin-bottom: 0px;
    

      
}
#glo{
    margin-top: 0px;
    margin-bottom: 0px;
    

}
body{
    background-color: darkslategrey;
    width: 1050px;
    margin: auto;
   
    overflow: scroll;
   
}

#cursiva{
    font-style: oblique;
}

#izq{
    
    margin-top: 0px;
    float:left;
  
    
}
#der{
    margin: 0px;
    width: 790px;
    float: right;<td d="izq"><img src="/imagenes/crimen.jpg"></td>
    vertical-align: text-bottom;
}
#pie-de-pagina{
clear: right;

}
#glosario{
   clear: right; 
   
    border: 5px solid cadetblue;

}
h3{
    text-align: center;
}
#cuento{
color: beige;

}