
#tema
{
    margin: 20px;
    text-align: center;
  color: cornflowerblue;
    letter-spacing: 50px;
    
}
#enlaces{
    text-align: center;
    margin: auto;
background-color: cadetblue;
border-spacing: 100px;
text-align: center;

}
#enlace{
margin-left: 10px;
margin-right: 10px;
line-height: 30px;

}
#con{
    font-size: 30px ;
    padding: 10px ;
    

      
}
body{
    background-color: darkslategrey;
    width: 1050px;
    margin: auto;
   
    overflow: scroll;
   
}
#imagen{
float: right;
border-style: groove;
}
#descripcion{
    float: left;
    border-style: groove;



}
#cursiva{
    font-style: oblique;
}
p{
position: relative;
font-weight: 600;
clear: both;
}
#izq{
    margin-top: 0px;
    float:left;
}
#der{float: right;}